@import url(../../../../assets/_css/includes/includes.cores-fonte.css);
.bodyLogin{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f9f9f9;
    
}
.containerLogin{
    padding: 10px;
    width: 400px;
    height:250px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: #e0e0e0 0px 5px 10px 5px;
    border-radius: 5px;
background-color: #fff;
display: flex;
align-items: center;

    

}
.bodyLogin .containerLogin form{
 
width: 90%;
margin: auto;
}
.bodyLogin .containerLogin .controlerInput{
    margin: auto;
 
 position: relative;
 height: 60px;
}
.bodyLogin .containerLogin .controlerInput label{
    position: absolute;
    display: block;
    left: 10px;
    top: 5px;
    color: #8a8a8a;
    cursor: text;
    transition: all .5s;
}
.bodyLogin .containerLogin .controlerInput input{
    display: block;
    padding: 2px 2px 2px 10px;
    border: none;
    background-color: #f9f9f9;
    box-shadow: #e0e0e0ee 0px 0px 5px 2px;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    

    
}
.bodyLogin .containerLogin .controlerInput input:focus ~ label{
    color: rgb(0, 0, 0);
    top: -25px;
    left: 0px;
}
.bodyLogin .containerLogin .controlerInput input[type="submit"]{
    background-color: var(--c2);
    color: #e0e0e0;
    font-weight: 400;
    font-size: 14pt;
}
.containerLogin *{
    
}
.containerLogin .cardImg{
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
img{
    margin: auto;
}
.bodyLogin .container_verify{
    color: #8a8a8a;
    text-align: center;
 
    margin: auto;
    
}
.bodyLogin .container_verify p{
 
}
.bodyLogin .container_verify  .container_verify_inputs{
     
    width: 50%;
    margin: auto;
    display: flex;
    gap: 5px;
    justify-content: center;

}
.bodyLogin .container_verify .container_verify_inputs .code_verify{
    border: 1px solid #8a8a8a;
    width: 30px;
    height: 35px;
    border-radius: 5px;
    padding: 5px;
    font-size: 15pt;
    text-align: center;
    box-sizing: border-box;
    
}
.card_input_sumit{
   
    display: flex;
    justify-content: flex-end;
    padding: 10px 5px;    
}
.card_input_sumit input{
    color: #e0e0e0;
    background-color: #8a8a8a;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 2px;
}