@import url(../../../../assets/_css/includes/includes.cores-fonte.css);

.bodyLogin {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;

}

.containerLogin {

    width: 800px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border-radius: 5px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 60% 40%;
    overflow: hidden;
    box-shadow: 0px 0px 20px #818181;

}

.bodyLogin .containerLogin .info {
    background-image: url(../../../../assets/_images/herobg.png);
    color: #fff;
    background-size: cover;

}

.bodyLogin .containerLogin .info>div {
    padding-top: 40px;
}

.bodyLogin .containerLogin .info>div h1,
.bodyLogin .containerLogin .info>div p {
    text-align: center;
}

.bodyLogin .containerLogin .form {}

.bodyLogin .containerLogin .form form {
    padding-top: 60px;
    width: 80%;
    margin: auto;
}

.bodyLogin .containerLogin .controlerInput {
    margin: auto;
    position: relative;
    height: 70px;
}

.bodyLogin .containerLogin .controlerInput label {
    position: absolute;
    display: block;
    left: 10px;
    top: 10px;
    color: #535252;
    cursor: text;
    transition: all .5s;
}

.bodyLogin .containerLogin .controlerInput input {
    display: block;
    padding: 2px 2px 2px 10px;
    border: none;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px #c2c2c2;
    border-radius: 5px;
    width: 100%;
    height: 40px;



}

.bodyLogin .containerLogin .controlerInput input:focus~label {
    color: rgb(0, 0, 0);
    top: -25px;
    left: 0px;
}

.bodyLogin .containerLogin .controlerInput input[type="submit"] {
    background-color: var(--c1);

    color: #ffffff;
    font-weight: 400;
    font-size: 14pt;
}

.containerLogin * {}

.containerLogin .cardImg {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0px;
    padding: 10px 2px 0px 10px;
}

.containerLogin .cardImg span{
    width: 0px;
    overflow: hidden;
    font-size: 18pt;
    font-weight: 600;
    position: relative;
    transition: all 4s ease-in-out;   
     
}
.containerLogin .cardImg .titleLogo {
    width: 100%;
    word-wrap: nowrap;
    display: flex;
    margin-left: 10px;
}
 

img {}