:root{
    --c1:#0043af;
    --c2:#0086b7;
    --c3:#1c4365;
    --c4:#001829;
    --c5:#00b6c5;
    --c6:#005d6b;
    /*Login*/
    --c7:#318eee;
    --c8:#4285f7;
    --c9:#005d6b;
    --c10:#005d6b;
    --c11:#34d39918;
    --c12:#34d399;
    --c13:#f8717127;
    --c14:#f87171;
    --c15:#71d0f827;
    --c16:#71b2f8;
    --bg-warning:#fde68a;
    --txt-warning:#fbbf24;
    --bg-success:#34d399;
    --txt-success:#4ade80;
    --bg-error:#f39999;
    --txt-error:#dc2626;
}