@import url(../../../../assets/_css/includes/includes.cores-fonte.css);

.containerMainUser {
    margin-left: 80px;
}

.containerMainUser .containerControles {
    display: flex;
    justify-content: flex-end;
    max-width: 900px;
    min-width: 350px;
    margin: auto;

}

.containerMainUser .containerControles button {
    border: none;
    color: #fff;
    background-color: #00588f;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0px 3px 3px #c6c6c6;
    display: flex;
    margin-right: 10px;
    align-items: center;
}

.containerMainUser .containerControles button svg {
    font-size: 15pt;
}

.containerMainUser .containerContent {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}

.containerMainUser .containerContent .user {
    width: 250px;
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px 5px;
    box-sizing: border-box;
    transition: all .2s ease-in;
    background-color: rgb(255, 255, 255);
    box-shadow: #d9d9d9 0px 1px 5px 1px;
    display: grid;
    grid-template-columns: 70% 30%;
}

.containerMainUser .containerContent .user:hover {
    box-shadow: #d9d9d9 0px 2px 10px 2px;

}

.containerMainUser .containerContent .user .info {

    display: flex;
    justify-content: center;
    align-items: center;


}

.containerMainUser .containerContent .user .info>div {

    height: 100%;
    width: 100%;
    display: flex;

}

.containerMainUser .containerContent .user .info>div .img {
    display: flex;
    justify-items: center;
    align-items: center;

}

.containerMainUser .containerContent .user .info>div .datas {

    width: 100%;
    align-self: center;
    padding-left: 5px;

}

.containerMainUser .containerContent .user .info>div .datas span {
    display: block;
}

.containerMainUser .containerContent .user .info>div .datas .nome_user {
    font-weight: 600;
    font-size: 8pt;

}

.containerMainUser .containerContent .user .info>div .datas .email_user {
    font-size: 9px;

}

.containerMainUser .containerContent .user .info>div .datas button {
    border: none;
    cursor: pointer;
    background-color: #00bea2;
    padding: 3px;
    border-radius: 5px;
    margin-top: 5px;
}

.containerMainUser .containerContent .user .info>div .datas button a {
    text-decoration: none;
    color: #fff;
    font-size: 10px;
}

.containerMainUser .containerContent .user .controller {}

.containerMainUser .containerContent .user .controller strong {
    border: 1px solid var(--c12);
    font-size: 10px;
    border-radius: 5px;
    width: 40px;
    margin: auto;
    padding: 3px 5px;
    display: block;
    background-color: var(--c11);

}

.containerMainUser .containerContent .user .controller button {
    border: 1px solid #00588f;
    color: #ffffff;
    border-radius: 90px;
    display: block;
    margin: 2px auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
}

.containerEditar,
.containerVisualizar {
    width: 0px;
    overflow: hidden;
    position: fixed;
    top: 0px;
    right: 0px;
    transition: width .4s ease-in-out;
    background-color: #ffffff;
    height: 100vh;
    box-shadow: 0px 0px 10px #c6c6c6;
}

.showDisplayTrueEdit,
.showDisplayTrueVisualizar {
    padding: 10px;
    width: 500px;
}

.containerVisualizar .cardClose, .containerAdd .cardClose,.containerEditar .cardClose{
    display: flex;
    justify-content: flex-end;
}
 
.containerVisualizar .cardClose svg {
    cursor: pointer;
    font-size: 20pt;
}

/*
Painel Adicionar Usuario
*/
.containerAdd {
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0vw;
    height: 0px;
    background-color: #00000045;
    z-index: 1;

    transition: all .5s ease-in-out;
}

.showDisplayTrueAdd {
    background-color: #00000077;
    width: 100vw;

    height: 100vh;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
}

.containerAdd .cardFormAdd {
    background-color: #fff;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 30px #6d6d6df6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 .containerAdd .cardFormAdd div h2{
    font-size: 18pt;
    text-align: center;
 }
.containerAdd .cardFormAdd .controllerInput {
    display:grid;
    width: 80%;
    margin: auto;
    padding: 0px;
}
 .containerAdd .cardFormAdd .controllerInput input[type="submit"]{

    background-color: #00588f;
    color: #fff;
    width: 80%;
    margin: auto;
    font-size: 12pt;
    padding: 10px;
}
.containerAdd .cardFormAdd .controllerInput input,.containerAdd .cardFormAdd .controllerInput select{
    border: 1px solid #6d6d6df6;
    box-shadow: 0px 0px 0px #6d6d6df6;
    outline: none;
    padding:5px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    
}
.containerAdd .cardFormAdd .controllerInput input:focus,.containerAdd .cardFormAdd .controllerInput select:focus{
    box-shadow: 0px 0px 3px #6d6d6df6;
}
.containerAdd .cardFormAdd .controllerInput label{
    margin-bottom: 5px;
    font-size: 10pt;
}