.TableHistoryLogin{
    
    padding: 10px;box-sizing: border-box;
    box-shadow:  2px 2px 5px #c3c3c3;
 
    
}
.TableHistoryLogin h3{
    text-align: center;font-weight: 500;
    color: #343434;

}
.TableHistoryLogin .TableHeaderLogin{
 
    
}
.TableHistoryLogin .TableHeaderLogin>div{
    display: grid;
    grid-template-columns: 100px 200px auto auto auto;
}
.TableHistoryLogin .TableHeaderLogin>div >span{
    text-align: center;
}

.TableHistoryLogin .TableBodyLogin{
 
}
.TableHistoryLogin .TableBodyLogin>div{
    display: grid;
    grid-template-columns: 100px 240px auto auto auto;
  
    margin: 3px;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #dcdcdc;
    background-color: #ffffff;


    
}
.TableHistoryLogin .TableBodyLogin>div>span{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #343434;
}