.TableHistoryLogin {

    padding: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px #c3c3c3;


}

.TableHistoryLogin h3 {
    text-align: center;
    font-weight: 500;
    color: #343434;

}


.TableHistoryLogin .TableBodyLogin {}

.TableHistoryLogin .TableBodyLogin>div {
    display: grid;
    grid-template-columns: 10% 40% 25% 25%;

    margin: 5px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #dcdcdc;
    background-color: #fff;



}

.TableHistoryLogin .TableBodyLogin>div .userinfo {
    display: grid;
    
}
.img img{
width: 50px;
height: 50px;

}
.userinfo span {
    font-weight: 500;

}
.userinfo span:nth-child(1){
    
}
.userinfo span:nth-child(2){
    color: #6d6d6d;
    font-size: 10px;
}
.userinfo span:nth-child(3){
    color: var(--c12);
}
.userinfo span:nth-child(2n) {
    font-size: 8pt;
}

.hostinfo {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.hostinfo strong {
    font-family: monospace;
    font-size: 12px;
    color: #6d6d6d;

}

.sessioninfo {
    display: grid;
    gap: 5px;
    align-items: center;
}

.sessioninfo span {
    font-weight: 500;
 
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    font-family: monospace;
}

.sessioninfo .in {
    
    color: var(--c16);

}

.sessioninfo .out {
 
    color: var(--c14);
}