
.TableHistoryLogin{
    
    padding: 10px;box-sizing: border-box;
    box-shadow:  2px 2px 5px #c3c3c3;
 
    
}
.TableHistoryLogin h3{
    text-align: center;font-weight: 500;
    color: #343434;

}


.TableHistoryLogin .TableBodyLogin{
 
}
.TableHistoryLogin .TableBodyLogin>div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  
    margin: 3px;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #dcdcdc;
    background-color: #fff;


    
}

.TableHistoryLogin .TableBodyLogin>div .userinfo{
    display: grid;
}
.userinfo span{
    font-weight: 500;
    
}
.userinfo span:nth-child(2n){
    font-size: 8pt;
}
.hostinfo{
    display: grid;
    grid-template-rows: repeat(3 ,1fr);
    gap: 5px;
}
.hostinfo button{
background-color: #ff1f1f;
color: #fff;
border: none;
padding: 5px 10px;
cursor: pointer;
width: 200px;
margin: auto;

border-radius: 3px;
}
.hostinfo strong{
    font-family: monospace;
    font-size: 14pt;

}
.sessioninfo {
    display: grid;
    gap: 5px;
    align-items: center;
}
.sessioninfo span{
    font-weight: 500;
    font-variant: small-caps;
    font-size: 9pt;

}