 .containerMainDashboards {
     width: 900px;
     margin: auto;

 }

 .containerMainDashboards>div {

     margin-bottom: 20px;
 }

 .containerMainDashboards .cards_resumes {
     display: flex;
     width: 100%;
     justify-content: space-evenly;


 }

 .containerMainDashboards .cards_resumes .card {
     flex-basis: 220px;
     flex-grow: 0;
     flex-shrink: 0;
     border-radius: 5px;
     height: 120px;
     padding: 10px;
     background-color: rgb(255, 255, 255);
     box-shadow: 0px 0px 30px #ebebeb;
     cursor: default;
     transition: all .2s ease-in-out;
 }

 .containerMainDashboards .cards_resumes .card:hover {
     box-shadow: 0px 0px 30px #c0c0c0;
     transform: translateY(5px);

 }

 .containerMainDashboards .cards_resumes .card h3 {
     font-size: 18pt;
     color: #000000;
     font-weight: 500;

 }

 .containerMainDashboards .cards_resumes .card strong {
     color: #b8b8b8;
     font-size: 8pt;
     padding: 5px;
     border-radius: 10px;

     display: inline-block;
     margin: 5px;
 }

 .containerMainDashboards .cards_resumes .card .content_green {
     background-color: #34d39918;
     color: #34d399;

 }

 .containerMainDashboards .cards_resumes .card .content_red {
     background-color: #f8717127;
     color: #f87171;
 }

 .containerMainDashboards .cards_charts {
     display: grid;

     grid-template-columns: repeat(2, 1fr);
     gap: 10px;
     margin-left: auto;
     margin-right: auto;
 }

 .containerMainDashboards .cards_charts .card_chart {

     height: 200px;
     background-color: rgb(255, 255, 255);
     box-shadow: #d9d9d9 0px 2px 10px 2px;
     border-radius: 5px;
 }

 .containerMainDashboards .cards_resumes_charts {


     background-color: rgb(255, 255, 255);
     box-shadow: #ebebeb 0px 2px 10px 2px;
     padding: 10PX;
     height: 300px;
 }

 .containerMainDashboards .cards_resumes_charts .cardChart {
     width: 100%;
     height: 250px;
     margin: auto;
     overflow: hidden;
     z-index: 4;
     box-sizing: border-box;

 }