@import url(../../../../assets/_css/includes/includes.cores-fonte.css);

.containerEnterprise {
    margin-left: 50px;


}

.containerEnterprise>div {
    width: 90%;
    margin: auto;
   
}

.containerEnterprise>div .controller {
    display: flex;
    justify-content: flex-end;
}

.containerEnterprise>div .controller button {
    border: none;
    padding: 5px 10px;
    color: var(--c1);
    background-color: aliceblue;
    box-sizing: border-box;
    font-weight: 500;
    box-shadow: #d9d9d9 -2px 2px 5px 2px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

.containerEnterprise>div .listEnterprise {
    padding: 10px 5px;
    display: flex;
    flex-wrap: wrap;
}

.containerEnterprise>div .listEnterprise .enterprise {
    box-shadow: #bbbbbb 0px 2px 5px 0px;
    width: 200px;
    height: 100px;
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 10px;
    margin: 5px 5px;
    border-radius: 4px;
    background-color: #ffffff;
    box-sizing: border-box;

}

.containerEnterprise>div .listEnterprise .enterprise .contents {}

.containerEnterprise>div .listEnterprise .enterprise .contents {}

.containerEnterprise>div .listEnterprise .enterprise .actions {
    display: grid;
}

.containerEnterprise>div .listEnterprise .enterprise .actions button {
    background-color: transparent;
    border: none;

}

.containerEnterprise>div .listEnterprise .enterprise .actions button svg {
    color: #868686;
    font-size: 13pt;
    cursor: pointer;

}

.containerEnterprise>div .listEnterprise .enterprise .actions button.bgEdit svg {
    background-color: var(--c11);
    color: var(--c12);

    border-radius: 5px;
}

.containerEnterprise>div .listEnterprise .enterprise .actions button.bgDelete svg {
    background-color: var(--c13);
    color: var(--c14);

    border-radius: 5px;
}

.containerEnterprise>div .listEnterprise .enterprise .actions button.bgView svg {
    background-color: var(--c15);
    color: var(--c16);

    border-radius: 5px;
}

.containerEnterprise>div .listEnterprise .enterprise .actions {}

.containerEdit {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #0000003b;
    display: none;

}

.containerPreview {

    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #0000003d;
    display: none;

}

.containerAdd {

    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #0000003d;
    display: none;

}

.containerEdit .cardFormEdit {
    width: 400px;
    background-color: #ffffff;
    height: 400px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    border-radius: 3px;
    box-shadow: #494949 0px 5px 10px 5px;

}

.containerPreview .cardPreview {
    width: 400px;
    background-color: #ffffff;
    height: 400px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    border-radius: 3px;
    box-shadow: #494949 0px 5px 10px 5px;


}

.containerAdd .cardFormAdd {

    width: 400px;
    background-color: #ffffff;
    height: 400px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    border-radius: 3px;
    box-shadow: #494949 0px 5px 10px 5px;
    display: none;

}

.containerAdd .cardFormAdd {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerAdd .cardFormAdd>form {
    width: 350px;
    height: 350px;
    
}
.containerAdd .cardFormAdd form .title{
    text-align: center;
    position: relative;
    color: var(--c12);
    font-size: 15pt;
}
.containerAdd .cardFormAdd form .title::after{
    position: absolute;
    content: "";
    left: 0px;
    top: 100%;
    width: 100%;height: 3px;
    background-image: linear-gradient(to right, var(--c11),var(--c12),var(--c11));
}

.containerAdd .cardFormAdd .controllerInput {
    display: grid;
    width: 90%;
    margin: auto;
    margin-top: 5px;
}

.containerAdd .cardFormAdd .controllerInput label {
    margin-bottom: 5px;

}

.containerAdd .cardFormAdd .controllerInput input {
    border: none;
    height: 30px;
    padding: 2px 10px;

    background-color: #e4e4e4;
}

.containerAdd .cardFormAdd .controllerInput button[type="submit"]{
    background-color: var(--c12);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin: 10px auto;
    width: 100%;
    cursor: pointer;
}