@import url(../../../assets/_css/includes/includes.cores-fonte.css);
.ParagrafoErro{
    background-color: var(--bg-error);
    color: var(--txt-error);
    border-radius: 5px;
 

    display: flex;
    align-items: center;
    width: max-content  ;
 
    margin: 5px auto 0px auto;

}