.containerHistory {
    margin-left: 180px;
 
 


}

.containerHistory>div {
    margin: auto;
    max-width: 1000px;
    min-width: 800px;

}

.containerHistory>div .navigatorHistory {
    width: 300px;
    margin:10px auto;
    
    
}
.containerHistory>div .navigatorHistory >span{
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #434343;

}