@import url(../../../../assets/_css/includes/includes.cores-fonte.css);

.containerSignals {
    margin-left: 180px;


}

.containerSignals .barsearch {
    background-color: #fff;
    box-shadow: 0px 0px 5px #c2c2c2;
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 3px;
    padding: 8px;
    max-width: 400px;
    margin: 10px auto;

}

.containerSignals .barsearch svg {
    color: #272727;
}

.containerSignals .barsearch input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 5px 5px 5px 10px;

}

.containerSignals .controllers {

    padding: 5px 10px 5px 5px;
    width: 90%;
    gap: 10px;
    margin: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.containerSignals .controllers button {
    padding: 5px;
    width: 80px;
    justify-content: center;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.btnFaFileExcel {
    background-color: #00cf83;
    color: #fff;

}

.btnFaFilePdf {
    background-color: #ea3c3c;
    color: #fff;

}

.btnFaPlus {
    background-color: #368fef;
    color: #fff;

}

.listSignals {


    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 97%;

}

.listSignals .Signal {
    margin: 5px;
    height: 150px;
    width: 200px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #c2c2c2;
    display: grid;
    grid-template-rows: 60% 30% 10%;

    overflow: hidden;

}
