@import url(../../../../assets/_css/includes/includes.cores-fonte.css);

.containerSignals {
    margin-left: 50px;


}

.containerSignals .barsearch {
    background-color: #fff;
    box-shadow: 0px 0px 5px #c2c2c2;
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 3px;
    padding: 8px;
    max-width: 400px;
    margin: 10px auto;

}

.containerSignals .barsearch svg {
    color: #272727;
}

.containerSignals .barsearch input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 5px 5px 5px 10px;

}

.containerSignals .controllers {

    padding: 5px 10px 5px 5px;
    width: 90%;
    gap: 10px;
    margin: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.containerSignals .controllers button {
    padding: 5px;
    width: 80px;
    justify-content: center;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.btnFaFileExcel {
    background-color: #00cf83;
    color: #fff;

}

.btnFaFilePdf {
    background-color: #ea3c3c;
    color: #fff;

}

.btnFaPlus {
    background-color: #368fef;
    color: #fff;

}

.listSignals {


    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 97%;

}

.listSignals .Signal {
    margin: 5px;
    height: 150px;
    width: 200px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #c2c2c2;
    display: grid;
    grid-template-columns: 80% 20%;

    overflow: hidden;

}

.listSignals .Signal .infoSignal {}

.listSignals .Signal .infoSignal .video {
    height: 100px;
    width: 150px;
    margin: 5px auto;
    border-radius: 5px;
    background-color: #ffffff;
    overflow: hidden;
}
.listSignals .Signal .infoSignal .video video{
    width: 100%;

}

.listSignals .Signal .infoSignal .content {
    
    padding-left: 5px;   
    
    margin: 5px auto;
}
.listSignals .Signal .infoSignal .content .category{
    display: block;
    background-color: #34d3994e;
    font-size: 8pt;
    border-radius: 5px;
    width: 80px;
    margin:3;
    padding-left: 5px;
    font-weight: 500;
}

.listSignals .Signal .controllersSignal {
    padding-top: 10px;
}
.listSignals .Signal .controllersSignal svg{
    display: block;
    margin: 5px ;
    border: 1px solid #c2c2c2;
    border-radius: 10px;
    padding: 5px;
    font-size: 17pt;
    box-sizing: border-box;
    
}