*{
  padding: 0;
  margin: 0px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 400;
box-sizing: border-box;
}
html,body,#root{
  height: 100%;
  background-color: #e8e9e9;
  overflow-x: hidden;
  overflow-y: auto;
}