.card-logaout{
    position: absolute;

    top: 0;
    background-color: #0000005c;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
 

}
.card-logaout *{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;

}
.card-logaout .card{
    background-color:#ffffff;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    display: grid;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #0f0f0f1e;
    height: 100px;
    padding: 10px;
    z-index: 1;
    color: #000000;

}
.card-logaout .card .option{
 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}
.card-logaout .card .option span,.card-logaout .card .option a{
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    color: #000000;
    text-decoration: none;
    
}
.card-logaout .card .option span:hover{
    background-color: #0f0f0f1e;
}
.card-logaout .card .option a:hover{
    
    background-color: #0f0f0f1e;
}